body > div {
	background-image: url("../images/twitter3.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

body > div > main {
}

body > div > footer {
	min-height: 50px;
}

@media only screen and (max-width: 576px) {
	body > div {
		height: auto;
	}
}

.summary,
.landing {
	min-height: 250px;
}

.landing a {
	border-radius: 32px;
}

.landing i {
	font-size: 2.5rem;
	color: skyblue;
}

.landing > section > div {
	max-width: 350px;
}
